.icon.earth {
  width: 20px;
  height: 20px
}

.icon.arrow-right {
  width: 30px;
  height: 25px
}

.icon.play {
  width: 30px;
  height: 30px
}

.icon.facebook {
  width: 30px;
  height: 30px
}

.icon.vk {
  width: 30px;
  height: 30px
}

.icon.instagram {
  width: 30px;
  height: 30px
}

.icon.twitter {
  width: 30px;
  height: 30px
}

.icon.youtube {
  width: 30px;
  height: 30px
}

.icon.double-arrow-right {
  width: 20px;
  height: 20px
}
